<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Redefinir Senha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  @if (!emailSent) {
    <div>
      <h2>Esqueceu sua senha?</h2>
      <p>Digite o e-mail da sua conta para enviarmos um link de redefinição.</p>
  
      <ion-item class="ion-margin-vertical">
        <ion-input type="email" placeholder="E-mail de Cadastro" [(ngModel)]="recoveryEmail"></ion-input>
      </ion-item>
  
      @if (error) {
        <p class="ion-text-danger">{{ error }}</p>
      }
  
      <ion-button expand="block" (click)="sendResetLink()" [disabled]="!recoveryEmail || loading">
        @if (!loading) {
          <span>ENVIAR LINK DE REDEFINIÇÃO</span>
        } @else {
          <ion-spinner name="crescent"></ion-spinner>
        }
      </ion-button>
    </div>
  } @else {
    <div class="ion-text-center success-message">
      <ion-icon name="mail-open-outline" class="big-icon"></ion-icon>
      <h2>E-mail Enviado!</h2>
      <p>Verifique sua caixa de entrada em **{{ recoveryEmail }}**.</p>
      <p>Siga as instruções no e-mail para criar uma nova senha.</p>
      <ion-button routerLink="/login" fill="clear" class="ion-margin-top">
        Voltar para o Login
      </ion-button>
    </div>
  }

</ion-content>