.exercise-card {
  background: #ffffff;
  border-radius: 14px;
  padding: 15px;
  margin-bottom: 12px;
  box-shadow: 0 3px 12px rgba(0,0,0,0.07);
  text-align: center;
}

.exercise-card img {
  width: 100%;
  max-width: 220px;
  border-radius: 12px;
  margin-bottom: 10px;
}

.exercise-card p {
  font-size: 17px;
  font-weight: 600;
  margin: 0;
}
ion-header ion-toolbar {
 
  --background: #007aff;
  --color: #fff; 
}