
ion-content {
  --background: white;

  p.ion-text-medium {
    color: #555; 
    font-size: 1.05em;
  }
  
  ion-button[color="danger"] {
    --box-shadow: 0 4px 10px rgba(255, 59, 92, 0.3);
    font-weight: 600;
  }
}


ion-tab-bar {
  --background: #fff;
  border-top: 1px solid #ddd;
}

ion-tab-button {
  --color: #888;
  --color-selected: #007aff;
  
  padding: 5px 0;
}

ion-tab-button ion-icon {
  font-size: 1.4em;
}

ion-tab-button ion-label {
  font-size: 0.75em;
}


ion-header ion-toolbar {
  --background: #007aff;
  --color: #fff; 
}

ion-header[collapse="condense"] ion-toolbar:first-of-type ion-title {
  color: #fff; 
  font-weight: 700;
}

ion-header:not([collapse="condense"]) ion-toolbar ion-title {
  color: #fff; 
  font-weight: 600;
}