
ion-content {
  --background: white;
}


ion-tab-bar {
  --background: #fff;
  border-top: 1px solid #ddd;
}

ion-tab-button {
  --color: #888;
  --color-selected: #007aff;
}

ion-tab-button ion-icon {
  font-size: 1.4em;
}

ion-tab-button ion-label {
  font-size: 0.75em;
}
ion-header ion-toolbar {
  --background: #007aff;
  --color: #fff; 
}
#img{
  left: -56cm;
}