<ion-header>
  <ion-toolbar >
    <ion-title>Meus Treinos</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear">Filtro</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
 
  <p class="recommendation">treinos</p>

  <!-- INICIANTE -->
  <ion-card class="workout-card">
    <ion-card-content>
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="2" class="icon-col">
            <ion-icon name="barbell-outline" class="workout-icon"></ion-icon>
          </ion-col>
          <ion-col size="6">
            <ion-card-title class="workout-title">Treinos para Iniciante</ion-card-title>
            <p class="workout-info">1h</p>
          </ion-col>
          <ion-col size="4" class="ion-text-end">
            <ion-button shape="round" class="start-button" (click)="goToIniciante()">ir</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

 
  <ion-card class="workout-card">
    <ion-card-content>
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="2" class="icon-col">
            <ion-icon name="heart" class="workout-icon"></ion-icon>
          </ion-col>
          <ion-col size="6">
            <ion-card-title class="workout-title">treinos para intermediario</ion-card-title>
            <p class="workout-info">1h</p>
          </ion-col>
          <ion-col size="4" class="ion-text-end">
            <ion-button shape="round" class="start-button" (click)="goToIntermediario()">ir</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <!-- AVANÇADO -->
  <ion-card class="workout-card">
    <ion-card-content>
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="2" class="icon-col">
            <ion-icon name="walk-outline" class="workout-icon"></ion-icon>
          </ion-col>
          <ion-col size="6">
            <ion-card-title class="workout-title">treinos para avançado</ion-card-title>
            <p class="workout-info">1hr e 30 min</p>
          </ion-col>
          <ion-col size="4" class="ion-text-end">
            <ion-button shape="round" class="start-button" (click)="goToAvancado()">ir</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

 
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">

        <ion-tab-button tab="home" (click)="goToHome()">
          <ion-icon name="home-outline"></ion-icon>
          <ion-label>Início</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="treinos" (click)="goToTreinos()">
          <ion-icon name="barbell-outline"></ion-icon>
          <ion-label>Treinos</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="progress" (click)="goToProgresso()">
          <ion-icon name="trending-up-outline"></ion-icon>
          <ion-label>Progresso</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="settings" (click)="goToConfiguracoes()">
          <ion-icon name="settings-outline"></ion-icon>
          <ion-label>Configurações</ion-label>
        </ion-tab-button>

      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
